<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="nav navbar-right top-nav">
        <!--    <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                </a>
            </li> -->
            <li>
                <a href="#" class="dropdown-toggle fa fa-user" data-toggle="dropdown"><span style= "margin-right:10px; margin-left:10px;">Admin User</span><b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"> Settings<i class="fa fa-fw fa-cog"></i></a></li>
                    <li class="divider"></li>
                    <li><a href="#"> Logout<i class="fa fa-fw fa-power-off"></i></a></li>
                </ul>
            </li>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li>
                    <a href=""><i class="fa fa-code-fork"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-briefcase"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-users"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-key"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-dot-circle-o"></i></a>
                </li>

            </ul>
        </div>

    </nav>

    <div id="page-wrapper">

<router-outlet></router-outlet>
      <!--
        <div class="container-fluid">

            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <h1>Welcome Admin!</h1>
                </div>
            </div>

        </div>
      -->
    </div>

</div>
